### Java ###
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Temporary files
*.tmp

# Compiled class files
target/
out/

# Maven
.mvn/
!**/src/main/**/.keep
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Wrapper logs
gradlew.bat
gradlew
gradle-wrapper.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws

# OS-specific
.DS_Store
Thumbs.db

# VS Code (if sometimes used)
.vscode/

# Test reports
test-output/
surefire-reports/
